<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="logout">
    <% if session[:user_id] %>
    <%= link_to "Logout", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
  <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: "flash_#{type}" %>
  <% end %>
  <%= yield %>
</body>
</html>
